In [289]:
import pandas as pd
import numpy as np

In [290]:
calls_df = pd.read_csv('CSV Files/calls.csv')
counters_df = pd.read_csv('CSV Files/counters.csv')
queues_df = pd.read_csv('CSV Files/queues.csv')
services_df = pd.read_csv('CSV Files/services.csv')
users_df = pd.read_csv('CSV Files/users.csv')

In [291]:
calls_df

,calls_id,queue_id,service_id,counter_id,user_id,token_letter,token_number,called_date,started_date,ended_date,started_time,ended_time,served_time,waiting_time,turn_around_time,created_date,updated_date,created_time,updated_time,call_status_id
0,28,45,1,2,2,W,1,2024-01-25,2024-01-25,2024-01-25,18:26:13,18:34:14,00:08:01,00:06:45,00:14:46,2024-01-25,2024-01-25,18:34:01,18:34:14,1.0
1,29,46,1,2,2,W,2,2024-01-25,2024-01-25,2024-01-25,18:34:16,18:34:24,00:00:08,00:13:39,00:13:47,2024-01-25,2024-01-25,18:34:16,18:34:24,1.0
2,30,48,2,2,2,NR,1,2024-01-25,2024-01-25,NaN,18:34:53,NaN,NaN,00:00:13,NaN,2024-01-25,2024-01-25,18:34:53,18:34:53,NaN
3,31,47,1,2,2,W,3,2024-01-25,2024-01-25,2024-01-25,18:35:14,18:35:18,00:00:04,00:10:17,00:10:21,2024-01-25,2024-01-25,18:35:14,18:35:18,1.0
4,32,50,3,3,2,T,1,2024-01-25,2024-01-25,2024-01-25,18:35:58,18:37:00,00:01:02,00:00:29,00:01:31,2024-01-25,2024-01-25,18:35:58,18:37:00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3349,4017,3414,2,7,11,NR,90,2024-02-16,2024-02-16,2024-02-16,17:27:13,17:53:11,00:25:58,00:46:25,01:12:23,2024-02-16,2024-02-16,17:27:13,17:53:11,1.0
3350,4018,3415,2,4,12,NR,91,2024-02-16,2024-02-16,2024-02-16,17:32:23,17:45:01,00:12:38,00:40:11,00:52:49,2024-02-16,2024-02-16,17:32:23,17:45:01,1.0
3351,4019,3416,2,8,7,NR,92,2024-02-16,2024-02-16,2024-02-16,17:33:04,17:34:17,NaN,00:28:56,NaN,2024-02-16,2024-02-16,17:33:04,17:34:17,2.0
3352,4020,3417,2,9,4,NR,93,2024-02-16,2024-02-16,2024-02-16,17:34:58,17:35:00,NaN,00:08:03,NaN,2024-02-16,2024-02-16,17:34:58,17:35:00,2.0
3353,4021,3378,2,8,7,NR,72,2024-02-16,2024-02-16,2024-02-16,16:15:13,17:51:33,01:36:20,01:18:59,02:55:19,2024-02-16,2024-02-16,17:37:49,17:51:33,1.0

#### Since we cannot perform mean, median and standard deviation for time data.
#### Converting the time data into secods(numerical) format for calcualtion

In [292]:
#Creating Function to convert time(HH:MM:SS) into seconds
def time_to_seconds(time_str):
    if pd.isna(time_str):  # If provided time data is null/NaN values leave as it is
        return np.nan
    hh, mm, ss = map(int, time_str.split(':'))
    return hh * 3600 + mm * 60 + ss


from datetime import timedelta

#Creating Function to convert seconds into time (HH:MM:SS) format

def seconds_to_time(seconds_value):
    td = timedelta(seconds=seconds_value)
    return td

In [300]:
#Using LOC for keeping the newly created column permanently with the calls_df dataframe

calls_df.loc[:,'turn_around_time_in_sec'] = calls_df['turn_around_time'].apply(time_to_seconds)
calls_df.loc[:,'served_time_in_sec'] = calls_df['served_time'].apply(time_to_seconds)
calls_df.loc[:,'waiting_time_in_sec'] = calls_df['waiting_time'].apply(time_to_seconds)

calls_df.to_csv('CSV Files/calls.csv', index=False)

# Mean

In [294]:
waiting_time_mean = np.round(calls_df['waiting_time_in_sec'].mean())
served_time_mean = np.round(calls_df['served_time_in_sec'].mean())
turn_around_time_mean = np.round(calls_df['turn_around_time_in_sec'].mean())

print(f"Waiting Time Mean(sec): {waiting_time_mean}")
print(f"Served Time Mean(sec) {served_time_mean}")
print(f"Turn Around Time Mean (sec) {turn_around_time_mean}")

Waiting Time Mean(sec): 4208.0
Served Time Mean(sec) 732.0
Turn Around Time Mean (sec) 4872.0

In [295]:
waiting_mean_time = seconds_to_time(waiting_time_mean)
served_mean_time = seconds_to_time(served_time_mean)
turn_around_mean_time = seconds_to_time(served_time_mean)


print(f"Waiting Time Mean(Time): {waiting_mean_time}")
print(f"Served Time Mean(Time) {served_mean_time}")
print(f"Turn Around Time Mean (Time) {turn_around_mean_time}")

Waiting Time Mean(Time): 1:10:08
Served Time Mean(Time) 0:12:12
Turn Around Time Mean (Time) 0:12:12

# Median

In [296]:
waiting_time_median = np.round(calls_df['waiting_time_in_sec'].median())
served_time_median = np.round(calls_df['served_time_in_sec'].median())
turn_around_time_median = np.round(calls_df['turn_around_time_in_sec'].median())


print(f"Waiting Time Median(sec): {waiting_time_median}")
print(f"Served Time Median(sec): {waiting_time_median}")
print(f"Turn Around Time Median (sec): {waiting_time_median}")

Waiting Time Median(sec): 3762.0
Served Time Median(sec): 3762.0
Turn Around Time Median (sec): 3762.0

In [297]:
waiting_median_time = seconds_to_time(waiting_time_median)
served_median_time = seconds_to_time(served_time_median)
turn_around_median_time = seconds_to_time(turn_around_time_median)


print(f"Waiting Time Mean(Time): {waiting_median_time}")
print(f"Served Time Mean(Time) {served_median_time}")
print(f"Turn Around Time Mean (Time) {turn_around_median_time}")

Waiting Time Mean(Time): 1:02:42
Served Time Mean(Time) 0:10:50
Turn Around Time Mean (Time) 1:12:43

# Standard Deviation

In [298]:
waiting_time_sd = np.round(calls_df['waiting_time_in_sec'].std())
served_time_sd = np.round(calls_df['served_time_in_sec'].std())
turn_around_time_sd = np.round(calls_df['turn_around_time_in_sec'].std())


print(f"Waiting Time Standard Deviation(sec): {waiting_time_sd}")
print(f"Served Time Standard Deviation(sec): {served_time_sd}")
print(f"Turn Around Time Standard Deviation (sec): {turn_around_time_sd}")

Waiting Time Standard Deviation(sec): 2957.0
Served Time Standard Deviation(sec): 702.0
Turn Around Time Standard Deviation (sec): 3066.0

In [299]:
waiting_sd_time = seconds_to_time(waiting_time_sd)
served_sd_time = seconds_to_time(served_time_sd)
turn_around_sd_time = seconds_to_time(turn_around_time_sd)


print(f"Waiting Time Mean(Time): {waiting_sd_time}")
print(f"Served Time Mean(Time) {served_sd_time}")
print(f"Turn Around Time Mean (Time) {turn_around_sd_time}")

Waiting Time Mean(Time): 0:49:17
Served Time Mean(Time) 0:11:42
Turn Around Time Mean (Time) 0:51:06